body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.formInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.title,
.button {
  font-size: 2em;
  border-radius: 0.25rem;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 2rem;
  padding: 0.25rem;
  background-color: #acacf3;
  border: 1px solid #fbfbfb;
}

.description {
  width: 300px;
}

.noteWrapper {
  padding: 1em;
  border: 1px solid blue;
  background-color: #acacf3;
  margin-bottom: 1em;
}

.noteCard {
  display: flex;
  flex-flow: column wrap;
  max-width: 700px;
}
.noteCard h1 {
  margin: 0;
}

.noteWrapper .delete {
  float: right;
  text-align: right;
}
.noteList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.logout {
  position: absolute;
  right: 100px;
}

.submit-btn {
}
